# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Database
db.sqlite3

# Media
media/

# Static collected files
staticfiles/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log